@import "/public/color.scss";
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap);

.header {
  width: 100%;
  font-family: "Roboto Condensed";
  font-weight: 900;
}
.head {
  color: $pink;
  text-align: center;
  font-size: 3rem;
    
}
.desc {
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  text-overflow: inherit;
  font-size: 0.8rem;
}
