@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap);

.button {
  font-size: 1.4rem;
  width: 120px;
  padding: 5px 5px 5px 6px;
  border: 3px solid gray;
  border-radius: 12px;
  background:inherit;
  font-family: "Roboto Condensed";
  font-weight: 500;
  outline: none;
  transition: 1.5s;
  display: inline-grid;

  &:hover {
    transition: 1.5s;
    color: black;
    border: 3px solid black;
  }
}

.HiddenList {
  font-weight: 400;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.ActiveList {
  
  cursor: pointer;
  list-style-type: none;
  visibility: visible;
  opacity: 1;
}

.listButton {
  border: none;
  background: inherit;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  border-radius: 12px;
  transition: 1.5s;

  &:hover {
    transition: 1.5s;
    color: black;
  }
}

@media all and (max-width: 1024px) {
  .button {
    margin: 0 0 10% 0;
  }
}

@media all and (max-width: 480px) {
  .button {
    margin: 0 0 23% 0;
  }
}

@media all and (max-width: 768px) {
  .button {
    margin: 0 0 13% 0;
  }
}
