@font-face {
  font-family: "Thasadith";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/Thasadith/Thasadith-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono-Light";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/Roboto_Mono/static/RobotoMono-Light.ttf);
  font-display: swap;
}


body {    
  background-color: #b5b19e; 
  font-family: "Thasadith";
}
* {
  box-sizing: border-box;
}

html{
scroll-behavior: smooth;

}

::placeholder{
  color:#433a1f;
}


