@font-face {
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Viga/Viga-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Poiret_One/PoiretOne-Regular.ttf);
  font-display: swap;
}


body {    
  background-color: #b5b19e; 
  font-family: "Poiret One";
}
* {
  box-sizing: border-box;
}

html{
scroll-behavior: smooth;

}

::placeholder{
  color:#433a1f;
}


