.buttons {
  margin-left: 35%;
  margin-right: 35%;
}
.buttonDisabled {
  animation: FadeInDelayed 3s;
  background-color: #433a1f52;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  height: 250px;
  width: 33%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.256);
  transition: 1.2s;

}


.flexbox {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}


.icon{
  font-size: 2.5rem;
  height: 2rem;
  position: relative;
  top:-35px;
}

.iconDisabled{
  font-size: 2.5rem;
  height: 2rem;
  position: relative;
  top:-35px;
}
.button {
  animation: FadeInDelayed 3s;
  background-color: #433a1f;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  height: 250px;
  width: 33%;
  font-size: 1rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px 0px, rgba(0, 0, 0, 0.22) 0px 15px 12px 0px;
  transition: 1.2s;

&:hover{
  transform: scale(1.05);
  transition: 1.2s;

}
  &:focus{
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.335) ;
    transform: scale(1.05);
    transition: 1.2s;
  }
}
.header {
  width: 100%;
  font-weight: 900;
  animation: FadeIn 3s;
}

.head {
  color: rgb(81, 0, 81);
  text-align: center;
  font-size: 3rem;
}
.line {
  animation: lineAppear 4s;
}
.desc {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  text-overflow: inherit;
  font-size: 0.8rem;
  text-align: justify;
  animation: FadeInDelayed 2s;
}

@media all and (max-width: 991px) {
  .desc {
    margin: 0 0 0 0;
  }
}

@media all and (max-width: 1024px) {
.flexbox{
  flex-direction: column;
}
.buttonDisabled{
  .buttonDisabled {
    width: 90%;
  }
}
  .button {
    width: 90%;

    &:hover {
      transform: scale(1);
      transition: 1.2s;
    }
    &:focus {
      box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.335);
      transform: scale(1);
      transition: 1.2s;
    }
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInDelayed {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lineAppear {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
