.option {
    font-size: 1.4rem;
    font-weight: bold;
    border: 4px solid gray;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    transition: 1.5s;
    margin-bottom: 2%;
    height: 60px;
    cursor: pointer;
    width: 80%;
    margin-left: 8%;
    &:hover {
      transition: 1.5s;
      border: 4px solid black;
      color: black;
    }
  }
  
  .selected {
    background-color: gray;
  }


@media all and (max-width: 1024px){

.option{

  font-size: medium;


}


}
@media all and (max-width: 500px){

.option{

font-size: small;

}

}