.flexbox {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.buttons {
  text-align: center;
  text-overflow: inherit;
  font-size: 0.8rem;
}

.button {
  background-color: #433a1f;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  height: 250px;
  width: 15%;
}

@media all and (max-width: 1024px) {
  .menuClicked {
    width: 100%;
  }
  .buttons {
    width: 100%;
  }
  .button {
    width: 100%;
    &:hover {
      transform: scale(1);
    }
  }
}
