
.flexbox {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 3%;


}


.icon{
  color: white;
  font-size: 2.5rem;
  height: 2rem;
  position: relative;
  top:-35px;
}


.iconDisabled{
  color: rgba(255, 255, 255, 0.305);
  font-size: 2.5rem;
  height: 2rem;
  position: relative;
  top:-35px;
 

}


.button {
  background-color: #433a1f;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  height: 250px;
  width: 30%;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px 0px, rgba(0, 0, 0, 0.22) 0px 15px 12px 0px;
&:hover{
  transform: scale(110%);
  transition: 1.2s;

}
  &:focus{
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.335) ;
    transform: scale(110%);
    transition: 1.2s;
  }
}

.buttonDisabled{
  background-color: #433a1fa0;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  height: 250px;
  width: 29%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.426);
  transform: scale(0.9);
  cursor: not-allowed;

}


@media all and (max-width: 1025px){
.flexbox{
  flex-direction: column;
}
 .button{
  width: 90%;
  &:hover{
    transform: scale(1);
  }
  &:focus{
    transform: scale(1);
  }
 }

 .buttonDisabled{
  width: 90%;

 }

  
}


