.ScrollUp {
  display: flex;
  position: fixed;
  float: right;
  font-size: 70px;
  bottom: 50px;
  right: 50px;
  transition: 1s;
  color: rgba(0, 0, 0, 0.52);
  opacity: 1;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px 0px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px 0px;
  &:hover {
    transition: 1.5s;
    color: rgba(255, 255, 255, 0.52);
  }
}

.DisabledScrollUp {
  visibility: hidden;
  position: sticky;
  float: right;
  font-size: 70px;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: visibility 1.5s linear, opacity 0.5s linear;
  color: rgba(0, 0, 0, 0.52);
}
