.footer {
  font-size: 20px;
  float: left;
  color: black;
  width: 100%;
}

.text {
  margin-right: 5%;
  margin-left: 7%;
  float: left;
}

.a {
  text-decoration: none;
  color: black;
  transition: 1.5s;

}

.icons {
  margin: 0 2% 0 0;
  float: left;
}

.hiddenFooter {
  font-size: 30px;
  display: none;
  color: black;
}

@media all and (max-width: 1163px) {
  .footer {
    display: none;
  }
  .text {
    font-size: 25px;
    
  }
.hiddenFooter{
display: block;
}
  .icons {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.a{
  text-decoration: none;
  color:#433a1f;
  transition: 2s;
  &:hover{
    color: black;
    transition: 2s;
  }
}
